<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume</title>

</head>
<body>
    <!--header-->
    <header> 
        <table>
            <tr> 
                <td>(image will be inserted here)</td>

                <td>
                    <h1>Elsie Angel</h1> 
                </td>
            </tr>
        </table>
    </header>
    <br>
    <!--Personal Details-->
    <section>
        <h2>Contact Information</h2>
        <hr>
        <table> 
            <tr> 
                <td>
                    <h3>NAME:</h3>
                </td>
                <td> 
                   <p>Elsie Angel</p> 
                </td>
            </tr>
            <tr> 
                <td>
                    <h3>EMAIL:</h3>
                </td>
                <td> 
                   <p>Eangel124@gmail.com</p> 
                </td>
            </tr>
            <tr> 
                <td>
                    <h3>ADDRESS:</h3>
                </td>
                <td> 
                   <p>Garner, NC 27529</p> 
                </td>
            </tr>
            <tr> 
                <td>
                    <h3>PHONE NUMBER:</h3>
                </td>
                <td> 
                   <p>(919)999-9999</p> 
                </td>
            </tr>
        </table>
    </section>
    <!--Summary-->
    <section>
        <h2>Work Experience</h2>
        <hr>
    </section>

   
   


</body>
</html>