<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume</title>
    <meta name="viewport"
    content="width=device-width, initial-scale=1">

</head>
<body>
    <!--Header-->
    <header> 
        <table>
            <tr> 
                <td><!--image will be inserted here--></td>

                <td>
                    <h1>Elsie Angel</h1> 
                </td>
            </tr>
        </table>
    </header>
    <br>
    <!--Personal Details-->
    <section>
        <h2 style="text-align:center; color:brown">Contact Information</h2>
        <hr>
        <table> 
            <tr> 
                <td>
                    <h3>NAME:</h3>
                </td>
                <td> 
                   <p>Elsie Angel</p> 
                </td>
            </tr>
            <tr> 
                <td>
                    <h3>EMAIL:</h3>
                </td>
                <td> 
                   <p>Eangel124@gmail.com</p> 
                </td>
            </tr>
            <tr> 
                <td>
                    <h3>ADDRESS:</h3>
                </td>
                <td> 
                   <p>Garner, NC 27529</p> 
                </td>
            </tr>
            <tr> 
                <td>
                    <h3>PHONE NUMBER:</h3>
                </td>
                <td> 
                   <p>(919)999-9999</p> 
                </td>
            </tr>
            <tr> 
                <td>
                    <h3>LINKEDIN:</h3>
                </td>
                <td> 
                   <p>Set link attatchment here</p> 
                </td>
            </tr>
        </table>
    </section>
    <!--Experience-->
    <section>
        <h2 style="text-align:center; color:brown" >Work Experience</h2>
        <hr><strong>Member Care Coordinator</strong>
        <p>Community Care North Caronlina (CCNC)</p>
        <ul>
        <p>
        <li>Perform outbound calls and receive inbound calls</li><li>Receive and document all referrals from members into Virtual Health</li>
        <li>Verify demographic information</li><li>Complete Care Needs Screenings as needed</li><li>Complete Data Entry</li><li>Assist with mailing 
        of educational materials, resources, or other documents to the member as necessary</li><li>Assist with referrals on the Care Management 
        team</li><li>Provide culturally appropiate health education</li><li>Provide general education 
        and social support</li><li>Advocate for members</li><li>Assist to address with Social Determinants of Health as needed</li><li>Notify 
        supervisor promptly of any issues with carrying out any duties assigned</li><li>Adhere to CCNC Privacy and Security policies to 
        ensure that patient and company data is properly safeguarded</li><li>Abide by department guidelines, company policies, and HIPPA
        regulations</li><li>Attend weekly meetings</li>
        </p>
        </ul>
    </section>
        
        <del>I dont know what I'm doing</del>
            
        

   
   


</body>
</html>