<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume</title>

</head>
<body>
    <!--header-->
    <header> 
        <table>
            <tr> 
                <td><!--image will be inserted here--></td>

                <td>
                    <h1>Elsie Angel</h1> 
                </td>
            </tr>
        </table>
    </header>
    <br>
    <!--Personal Details-->
    <section>
        <h2>Contact Information</h2>
        <hr>
        <table> 
            <tr> 
                <td>
                    <h3>NAME:</h3>
                </td>
                <td> 
                   <p>Elsie Angel</p> 
                </td>
            </tr>
            <tr> 
                <td>
                    <h3>EMAIL:</h3>
                </td>
                <td> 
                   <p>Eangel124@gmail.com</p> 
                </td>
            </tr>
            <tr> 
                <td>
                    <h3>ADDRESS:</h3>
                </td>
                <td> 
                   <p>Garner, NC 27529</p> 
                </td>
            </tr>
            <tr> 
                <td>
                    <h3>PHONE NUMBER:</h3>
                </td>
                <td> 
                   <p>(919)999-9999</p> 
                </td>
            </tr>
            <tr> 
                <td>
                    <h3>LINKEDIN:</h3>
                </td>
                <td> 
                   <p>Set link attatchment here</p> 
                </td>
            </tr>
        </table>
    </section>
    <!--Summary-->
    <section>
        <h2>Work Experience</h2>
        <hr><b>Member Care Coordinator</b>
        <p>Community Care North Caronlina (CCNC)</p>
        <p>*Perform outbound calls and receive inbound calls<br>*Receive and document all referrals from members into Virtual Health<br>
        *Verify demographic information<br>*Complete Care Needs Screenings as needed<br>*Complete Data Entry<br>*Assist with mailing of 
        educational materias, resources, or other documents to the member as necessary<br>*Assist with referrals on the Care Management 
        team<br>*Assist member witth Care Coordination<br>*Provide culturally appropiate health education<br>*Provide general education 
        and social support<br>*Advocate for members<br>*Assist to address with Social Determinants of Health as needed<br>*Notify 
        supervisor promptly of any issues with carrying out any duties assigned<br>*Adhere to CCNC Privacy and Security policies to 
        ensure that patient and company data is properly safeguarded<br>*Abide by department guidelines, company policies, and HIPPA
        regulations<br>*Attend weekly meetings</p>
    </section>

   
   


</body>
</html>